name: "Generate NVD Data Overrides"

on: 
  workflow_dispatch:
  schedule:
    - cron: '20 * * * MON-FRI'

concurrency:
  group: generate
  cancel-in-progress: true

jobs:
  generate:
    permissions:
      contents: write
    name: "Generate NVD overrides from enriched records"
    runs-on: ubuntu-latest
    container:
      image: python:3.13-alpine
    steps:
      - name: Install OS dependencies
        run: apk add --no-cache bash git
      - name: Install python dependencies
        run: pip install check-jsonschema cpe
      - name: Configure git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Generate NVD override records
        run: ./scripts/generate.sh
      - name: Verify overrides json schema
        run: check-jsonschema --schemafile schema/overrides.schema.json data/**/*.json
      - name: Commit changes
        run: |
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git config user.name "github-actions[bot]"
            ./scripts/commit.sh
            git push