name: "Validations"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  verify-json-schem:
    name: "Verify json schema"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'

      - name: "Install check-jsonschema"
        run: pip install check-jsonschema

      - name: "Verify overrides json schema"
        run: check-jsonschema --schemafile schema/overrides.schema.json data/**/*.json




  